@media (width <= 768px){	
    #welcome-section {
        height: 95vh !important;
    }

    #welcome-section .container {
        flex-direction: column-reverse;
    }

    .logo-section {
        padding-top: 150px;
    }

    .logo-section .container {
        grid-template-columns: 250px !important;
    }

    
    /* On short screens we don't want fancy clips cutting out content */
    .section[style^="clip-path"] {
        min-height: 150vh !important;
    }

    @media (height <= 700px) {

        #greeting-section {
            clip-path: polygon(0 100px, 95% 0, 100% 50px, 100% 100%, 0 98%);
        }
    }
}

@media(768px < width <= 1250px) {
    .logo-section .container {
        grid-template-columns: repeat(3,250px) !important;
    }

}